<app-navbar></app-navbar>
<section>
  <div>
  <h1>{{ "IMPRINT.TITLE" | translate }}</h1>

  <h2>{{ "IMPRINT.TMG_INFO" | translate }}</h2>

  <h3>{{ "IMPRINT.POSTAL_ADDRESS" | translate }}</h3>
  <p>Jonas Hanke <br /> Molzbacher Str. 44 <br /> 36088 Hünfeld</p>

  <h2>{{ "IMPRINT.CONTACT" | translate }}</h2>
  <p>
    {{ "IMPRINT.PHONE" | translate }}: +4915117213405<br />
    {{ "IMPRINT.EMAIL" | translate }}: jonas.hanke&#64;gmx.net
  </p>

  <h3>{{ "IMPRINT.WEBSITE_NOTICE" | translate }}</h3>
  <p>
    {{ "IMPRINT.IMPRINT_GENERATOR" | translate }}
    <a href="https://www.e-recht24.de">e-recht24.de</a>
  </p>
</div>
</section>
<img class="lpBackground"src="/assets/img/fold.png" alt="Background">