<app-navbar></app-navbar>

<section>
  <div>
  
    <div class="title-row">
  <span class="title-line title-line--left"></span>
  <h1 class="legal-title">{{ 'IMPRINT.TITLE' | translate }}</h1>
  <span class="title-line title-line--right"></span>
</div>

   
    <h2>{{ 'IMPRINT.SECTION_TITLE' | translate }}</h2>
    <ul class="imprint-list">
  <li>{{ 'IMPRINT.LINES.NAMES' | translate }}</li>
  <li>{{ 'IMPRINT.LINES.ADDRESS' | translate }}</li>
  <li>{{ 'IMPRINT.LINES.POSTCODE_CITY' | translate }}</li>
</ul>
<h3>{{ 'IMPRINT.LINES.EXPLORING' | translate }}</h3>
<p>{{ 'IMPRINT.LINES.EMAIL' | translate }}</p>

 
    <div class="legal-sections">
      <h3>{{ 'IMPRINT.ACCEPTANCE.TITLE' | translate }}</h3>
      <p>{{ 'IMPRINT.ACCEPTANCE.TEXT' | translate }}</p>

      <h3>{{ 'IMPRINT.SCOPE.TITLE' | translate }}</h3>
      <p>{{ 'IMPRINT.SCOPE.TEXT_1' | translate }}</p>
      <p>{{ 'IMPRINT.SCOPE.TEXT_2' | translate }}</p>

      <h3>{{ 'IMPRINT.PROPRIETARY.TITLE' | translate }}</h3>
      <p>{{ 'IMPRINT.PROPRIETARY.TEXT' | translate }}</p>

      <h3>{{ 'IMPRINT.USE.TITLE' | translate }}</h3>
      <p>{{ 'IMPRINT.USE.TEXT' | translate }}</p>

      <h3>{{ 'IMPRINT.DISCLAIMER.TITLE' | translate }}</h3>
      <p>{{ 'IMPRINT.DISCLAIMER.TEXT' | translate }}</p>

      <h3>{{ 'IMPRINT.INDEMNITY.TITLE' | translate }}</h3>
      <p>{{ 'IMPRINT.INDEMNITY.TEXT' | translate }}</p>
      <p>{{ 'IMPRINT.INDEMNITY.CONTACT_LINE' | translate }}</p>
      <p>{{ 'IMPRINT.INDEMNITY.DATE' | translate }}</p>
    </div>
  </div>
</section>

<img class="lpBackground" src="assets/img/fold.png" alt="">
